.footer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
  background: linear-gradient(
      to right,
      rgba(51, 51, 51, 0.8) 45%,
      rgba(255, 127, 0, 0.8)
    ),
    url("/path/to/texture.png");
  background-size: cover;
  background-blend-mode: screen;
  color: white;
  position: relative;
}

.footer-section {
  flex: 1;
  margin: 10px;
  min-width: 200px;
  text-align: center;
}

.footer-logo {
  width: 150px;
  height: auto;
}

.footer-section h4 {
  margin-bottom: 15px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

/* Media query para pantallas medianas */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    margin: 20px 0;
  }

  .footer-logo {
    width: 120px; /* Ajusta el tamaño del logo para pantallas más pequeñas */
  }

  .footer-section h4 {
    font-size: 1.2em; /* Aumenta el tamaño de los encabezados */
  }
}

/* Media query para pantallas muy pequeñas (móviles) */
@media (max-width: 480px) {
  .footer {
    padding: 15px;
  }

  .footer-section {
    margin: 15px 0;
    text-align: center; /* Asegura que el texto se centre */
  }

  .footer-logo {
    width: 100px; /* Reduce aún más el tamaño del logo */
  }

  .footer-section h4 {
    font-size: 1em; /* Ajusta el tamaño del texto */
  }

  .footer-section ul li {
    margin-bottom: 8px; /* Reduce el espacio entre los elementos */
  }
}
