.containerBoxs {
  width: 50%;
  margin: 20px auto;
  padding: 20px 20px 20px 20px;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  background-color: transparent;
  border: 2px solid rgba(77, 72, 72, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px;
}

.boxForm {
  display: flex;
  flex-direction: column;
}

.subtitulo {
  font-size: 1rem;
  margin: 12px;
  width: 100%;
}

.icon {
  width: 20px;
  height: 25px;
}
