.container-redes {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin: 0;
  height: auto;
  z-index: 9999;
}

.container-redes a {
  text-decoration: none;
  color: #ffffff;
  width: 70px;
  height: 55px;
}

.container-redes a:hover {
  color: #424242;
}
.icon {
  width: 70px;
  height: 45px;
  margin: 10px;
}
