.tabla-custom {
  background-color: transparent !important; /* Fondo transparente */
  width: 80% !important; /* Establece el ancho como un porcentaje o usa un valor fijo como 500px */
  margin: 0 auto; /* Centra la tabla horizontalmente */
}

.tabla-custom th,
.tabla-custom td {
  background-color: transparent !important; /* Celdas transparentes */
  border-color: white !important; /* Bordes blancos */
  color: white !important; /* Texto blanco */
}

.tabla-custom tbody tr:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Opcional: Resalta la fila al pasar el mouse */
}

.tabla-custom th {
  color: white; /* Texto blanco en encabezado */
}
