.contenedor-mapa {
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapa {
  width: 80%;
  height: 100%;
  max-width: 1000px; /* ajusta el ancho máximo */
  max-height: 300px; /* ajusta el alto máximo */
}
