.bienvenida {
  background-image: url("/src/assets/img/ParedLadrillos2.png");
  background-size: cover;
  background-position: center;
  padding: 20px;
  color: #fff;
  width: 100%;
  height: 80vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.bienvenida button {
  border-radius: 30px;
  padding: 10px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.bienvenida h1 {
  margin-top: 70px;
  font-size: 80px;
  margin-bottom: 10px;
  text-shadow: #8f8888 1px 0 10px;
}

.h1-titulo {
  background: linear-gradient(to right, #ccc 0%, #ff9900 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bienvenida p {
  font-size: 36px;
}
