.container-about {
  padding: 20px;
  border-radius: 10px;
  margin-top: 150px;
  font-family: Arial, sans-serif;
}

.heading {
  color: #0073e6;
}

.buttonsContainer {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #0073e6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
