.container-about {
  text-align: center;
  padding: 20px;
  margin-top: 180px;
  text-align: center;
}

.presentation-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan si no hay suficiente espacio */
  gap: 20px; /* Espacio entre las tarjetas */
  margin-top: 20px;
}

h2 {
  margin-top: 180px; /* Ajusta el valor según sea necesario para que no se pegue al navbar */
  font-size: 2em; /* Puedes ajustar también el tamaño de la fuente si es necesario */
}

.card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  padding: 20px;
  text-align: center;
}

.presentation-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

h3 {
  margin: 10px 0 5px;
  font-size: 1.2em;
  color: #333;
}

p {
  font-size: 0.9em;
  color: #666;
}
