.imagenError {
  width: 100%;
  height: 81vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-image: fill 0 linear-gradient(#0001, #000);
  background-color: #000; /* Fondo negro si no se establece una imagen */
}

.imagenError button {
  border-radius: 30px;
  padding: 10px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 40px rgba(255, 165, 0, 0.6);
  z-index: 9999;
  margin-top: 20px; /* Reemplazado el margen negativo por un margen positivo */
  transition: transform 0.3s ease; /* Añadido efecto de transición */
}

.imagenError button:hover {
  transform: translateY(-5px); /* Efecto al pasar el mouse sobre el botón */
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .imagenError {
    height: 70vh; /* Reducir la altura en pantallas más pequeñas */
  }

  .imagenError button {
    font-size: 18px; /* Reducir el tamaño del texto en el botón */
    padding: 8px 16px; /* Reducir el padding del botón */
  }
}

/* Media query para pantallas muy pequeñas */
@media (max-width: 480px) {
  .imagenError {
    height: 60vh; /* Reducir aún más la altura en pantallas pequeñas */
  }

  .imagenError button {
    font-size: 16px; /* Reducir el tamaño del texto */
    padding: 6px 12px; /* Reducir aún más el padding */
  }
}
