.container-contact {
  margin-top: 170px;
}

.container-contact h3 {
  font-size: 40px;
  margin: 8px;
  font-family: "Oswald", sans-serif;
  background: linear-gradient(to right, #ccc 0%, #ff9900 100%);
  -webkit-background-clip: text; /* Prefijo para WebKit */
  background-clip: text; /* Propiedad estándar para Edge y otros navegadores basados en Chromium */
  -webkit-text-fill-color: transparent; /* Hace el texto transparente */
  color: transparent; /* Asegura que el color del texto sea transparente */
}

/* Media Query para pantallas más pequeñas (tabletas y smartphones) */
@media (max-width: 768px) {
  .container-contact {
    margin-top: 120px; /* Reducir el margen superior para pantallas más pequeñas */
  }

  .container-contact h3 {
    font-size: 32px; /* Reducir el tamaño de la fuente */
  }
}

/* Media Query para pantallas muy pequeñas (smartphones) */
@media (max-width: 480px) {
  .container-contact {
    margin-top: 80px; /* Reducir aún más el margen superior */
  }

  .container-contact h3 {
    font-size: 24px; /* Ajustar aún más el tamaño de la fuente */
    margin: 5px; /* Ajustar el margen para pantallas pequeñas */
  }
}
