.container-general {
  justify-content: center;
  align-items: center;
  margin-top: 180px;
  margin-bottom: 20px;
}

.estilo-degradado {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 45px;
  text-shadow: #000000 1px 0 10px;
  font-family: "Oswald", sans-serif;
  background: linear-gradient(to right, #ccc 0%, #ff9900 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  filter: drop-shadow(1px 2px 3px #7c7c7c);
}

.botones-paneles {
  display: flex;
  flex-direction: column; /* Cambia la dirección a columna */
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  text-shadow: #8f8888 1px 0 10px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  gap: 40px; /* Reduce un poco el gap para mejor estética */
}

@media (max-width: 768px) {
  .container-general {
    margin-top: 180px;
  }

  .botones-admin {
    margin-top: 50px;
  }
}

@media (max-width: 480px) {
  .container-general {
    margin-top: 180px; /* Ajustar margen superior */
    margin-bottom: 100px; /* Ajustar margen inferior */
  }

  .botones-admin {
    margin-top: 30px;
    gap: 15px;
  }
}

@media (max-width: 768px) {
  .estilo-degradado {
    margin-top: 180px;
  }
}

@media (max-width: 480px) {
  .estilo-degradado {
    margin-top: 180px;
  }
}
