.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: auto;
  margin: auto;
  padding: 20px 0;
  margin-top: 200px;
}
