.container-clase-text {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 150px;
  margin-bottom: 20px;
  text-shadow: #8f8888 1px 0 10px;
  font-family: "oswald", sans-serif;
}

.add-clase {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: #8f8888 1px 0 10px;
  font-family: "oswald", sans-serif;
}
