.container-table {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  border-image: fill 0 linear-gradient(#0001, #000);
  padding: 20px;
  background-color: #ffffffa9;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1.1);
  text-align: center;
  text-shadow: #8f8888 1px 0 10px;
}

.container-usuario-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 20px;
  text-shadow: #8f8888 1px 0 10px;
  font-family: "oswald", sans-serif;
}
