@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

.container-registro {
  background-image: url("/src/assets/img/gym1image.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  margin: 150px 0px 0px 0px;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  background-color: transparent;
  border: 2px solid rgba(77, 72, 72, 0.5);
  backdrop-filter: blur(1%);
  box-shadow: 0 0 10px;
}

.textoRegistro {
  width: 100%;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textoRegistro h1 {
  border: 1px solid #000000;
  padding: 15px;
  text-align: center;
  background-color: #ffffffa9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1.1);
  font-size: 34px;
  color: #000000;
}
