.container-registro {
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin-top: 200px;
}

.textoRegistro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textoRegistro h1 {
  border: 0px solid #333;
  padding: 15px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1.1);

  font-size: 34px;
  color: #333;
}
